#contato {
  display: grid;
  /* grid-template-columns: 100% 2fr; */
  gap: 30px;
  padding: 50px 100px;
  max-width: 100vw;
  margin: 0 auto;
}

#contato > div {
  /* position: relative; */
  display: flex;
  font-size: 1.5rem;
  border-radius: 4px;
  text-align: center;
}

#container-chamada {
  width: 100%;
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  text-shadow: #a1a1a1;
}

#chamada #texto {
  text-indent: 10%;
  text-align: justify;
  margin-bottom: 20px;
}

#chamada img {
  width: 90%;
  border-radius: 3px;
}

form {
  width: 85%;
  padding: 1% 0 1% 3%;
  text-align: justify;
}

form input,
select,
textarea {
  width: 100%;
  margin-bottom: 2%;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #1f1f1f79;
  font-size: 1rem;
}

form button {
  width: 25%;
  padding: 4px;
  border-radius: 3px;
  font-size: 1.2rem;
  transition: 0.7s;
}

form button:hover {
  background-color: #a1a1a1;
  color: #fff;
}

/* Responsivo para tablets */
/* @media (max-width: 1024px) {
 
} */

/* Responsivo para mobile - 1 coluna */
@media (max-width: 768px) {
  #contato {
    padding: 1%;
    margin: 0;
    text-align: center;
  }

  h2{
    margin: 0;
  }

  #contato > div {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
  }

  #container-chamada {
    width: 100%;
    border-right: none;
  }

  #container-chamada #texto {
    margin: 0 0 3%;
    text-indent: 7%;
  }

  #chamada img {
    display: none;
  }

  form button {
    width: 100%;
    padding: 4px;
    border-radius: 3px;
    font-size: 1.2rem;
    transition: 0.7s;
  }
}
