/.vscode
/carousel_images.html
/fontawesome
/Teste Elementos
img/arquiteto-de-vista-superior-fazendo-um-projeto-de-casa.jpg
img/compasso-de-close-up-em-plantas.jpg
img/img-contato.jpg
img/mulher-segurando-planos.jpg
